{% layout "server/layouts/base.liquid" %}

{% block content %}
  <section class="detail">
    <h2>{{ coin.Name }}</h2>
    <p>Label: {{ coin.Label }}</p>
    <div>
      <p>1 {{ coin.Name }} =</p>
      <p id="price-eur-{{ coin.Name | downcase }}">€ {{ coin.Price_eur }}</p>
      <p id="price-btc-{{ coin.Name | downcase }}">₿ {{ coin.Price_btc }}</p>
      <p id="price-usd-{{ coin.Name | downcase }}">$ {{ coin.Price_usd }}</p>
      <p id="price-cny-{{ coin.Name | downcase }}">¥ {{ coin.Price_cny }}</p>
      <p id="price-gbp-{{ coin.Name | downcase }}">£ {{ coin.Price_gbp }}</p>
      <p id="price-rur-{{ coin.Name | downcase }}">₽ {{ coin.Price_rur }}</p>
    </div>

    <p>Volume per 24 uur: {{ coin.Volume_24h }}</p>


    <form method="POST">
      <label>
        <p>Stel in bij welk bedrag je op de hoogte gehouden wilt worden:</p>
        <div>
  <input type="number" id="doelprijs-{{ coin.Name | downcase }}" placeholder="Stel je doelprijs in">
  <button id="save-goal">Opslaan</button>
</div>
    </form>
    <script>
        document.getElementById("save-goal").addEventListener("click", function(e) {
          e.preventDefault(); // voorkom submit
      
          const coinName = "{{ coin.Name | downcase }}";
          const input = document.getElementById(`doelprijs-${coinName}`);
          const doelprijs = input.value;
      
          if (doelprijs) {
            // Pak de bestaande data uit sessionStorage of begin met een leeg object
            const goals = JSON.parse(sessionStorage.getItem("goals") || "{}");
      
            // Voeg of update deze coin
            goals[coinName] = doelprijs;
      
            // Zet terug in sessionStorage
            sessionStorage.setItem("goals", JSON.stringify(goals));
      
            alert(`Doelprijs voor ${coinName} is ingesteld op €${doelprijs}`);
          } else {
            alert("Voer een doelprijs in voordat je opslaat.");
          }
        });
      </script>
      

  </section>

{% endblock %}