{% layout "server/layouts/base.liquid" %}

{% block content %}
<section class="index">

<h1 class="h1">Lijst van Coins</h1>
<ul>
  {% for coin in coinArray %}
    <a href="/{{ coin.name }}">
    <li>
        <p>{{ coin.coin.Label }}</p>
      <p>{{ coin.coin.Name }}</p>

      <p id="price-{{ coin.name }}">€ {{ coin.coin.Price_eur }}</p>
      <p>{{ coin.coin.Volume_24h }}</p>
    </li>
    </a>
  {% endfor %}
</ul>

</section>


{% endblock %}